* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Plain light"; */
    color: white;
    font-weight: 100;
}

html,
body {
    height: 100%;
    font-weight: 100%;
}

#loader {
    background-color: #0b0b0b;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    padding-left: 5vw;
    padding-top: 18vh;
}

.line {
    height: 14.5vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6vw;
    line-height: 4;
    font-family: "Plain light";
    /* background-color: cornflowerblue; */
}

.line h2 {
    font-size: 7vw;
    font-weight: 600;
    margin-left: -4vw;
    /* background-color: cadetblue; */
    position: relative;

}

#line1-part1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5vh;
    padding-left: 30px;
    gap: 1vw;
}

#line1-part1 h5,
#line1-part1 h6 {
    font-size: 3.3vw;
    font-family: "silk serif";
    font-weight: 100;
}

#line1-part1 h5 {
    text-align: right;
    /* background-color: aqua; */
    padding-bottom: -2vh;
    width: 6vw;

}


.line h1 {
    font-size: 7vw;
    font-weight: 600;
    letter-spacing: 5px;
    word-spacing: -10px;
    /* background-color: aquamarine; */
}

#snote {
    height: fit-content;
    padding-left: 350px;
    margin-top: 13vh;
}

.note {
    font-size: 1.2vw;
    line-height: 21px;
    font-family: "Plain light";
}
.line h2{
    font-size: 6.9vw;
    /* font-weight: 600; */
    animation-name: anime;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    
}
@keyframes anime{
     0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: #fff;
     }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
    }
    100%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: #fff;
    }
}
#main {
    position: relative;
    background-color: #111;
    overflow: hidden;
}

#page1 {
    height: 100vh;
    width: 100vw;
    background-color: #151515;
}