* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-weight: 100;
}

html,
body {
    height: 100%;
    font-weight: 100%;
    /* overflow: hidden; */
    cursor: none;
}

#main {
    position: absolute;
    background-color: #111;
}

#crsr {
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 50%;
    position: fixed;
    background-color: transparent;
    border: 1.5px solid #948f8f;
    z-index: 9999;
    transform: translate(-50%, -50%);
    pointer-events: none;
    mix-blend-mode: difference;
    opacity: 0;

}

#loader {
    background-color: #0b0b0b;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    padding-left: 5vw;
    padding-top: 18vh;
}

.line {
    height: 14.5vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6vw;
    line-height: 4;
    font-family: "Plain light";
}

#line1-part1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5vh;
    padding-left: 2.1vw;
    gap: 1vw;
}

#line1-part1 h5,
#line1-part1 h6 {
    font-size: 3.3vw;
    font-family: "silk serif";
    font-weight: 100;
}

#line1-part1 h5 {
    text-align: right;
    padding-bottom: -2vh;
    width: 6vw;
}

.line h1 {
    font-size: 7vw;
    font-weight: 600;
    letter-spacing: 0.3vw;
    word-spacing: -0.7vw;
}

.line h2 {
    font-size: 7vw;
    font-weight: 600;
    margin-left: -4vw;
    position: relative;
}

.line h2 {
    font-size: 6.9vw;
    animation-name: anime;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes anime {
    0% {
        font-family: "plain light";
        -webkit-text-stroke: 0.1vw #fff;
        font-weight: 500;
        color: #fff;
    }

    50% {
        font-family: "silk serif";
        -webkit-text-stroke: 0.1vw #fff;
        font-weight: 500;
        color: transparent;
    }

    100% {
        font-family: "plain light";
        -webkit-text-stroke: 0.1vw #fff;
        font-weight: 500;
        color: #fff;
    }
}

#snote {
    height: fit-content;
    padding-left: 22.7vw;
    margin-top: 9.2vh;
}

.note {
    font-size: 1.2vw;
    line-height: 1.4vw;
    font-family: "Plain light";
}

#page1 {
    height: 100vh;
    width: 100vw;
    background-color: #151515;
}

#page1 #nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6vw 5.5vh;
}

#nav-pt1 {
    /* background-color: chocolate; */
    padding-left: 2.5vw;
    padding-top: 0.2vh;
    display: flex;
    align-items: center;
    gap: 2.5vw;
}

#nav-left {
    display: flex;
    align-items: center;
    gap: 15vw;
}

#nav-pt2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5vw;
    padding-right: 2.5vw;
    position: relative;
}

#nav-pt2 h4 {
    font-family: "plain light";
    font-size: 0.97vw;
    font-weight: 500;
    /* background-color: blue; */
}

#counting {
    height: 5vw;
    width: 5vw;
    position: absolute;
    left: 18.5%;
    top: 31%;
    overflow: hidden;
}

#counting h2 {
    font-family: silk serif;
    font-size: 3.3vw;
}

.hero {
    /* background-color: blue; */
    width: 72%;
    margin-left: 27.5%;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9999;
    top: 15.3%;
}

.hero:nth-child(2) {
    margin-top: 15.3vh;
}

.hero h1 {
    font-family: "plain light";
    font-size: 7.1vw;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.3vw;
    word-spacing: -0.7vw;
    line-height: 14.8vh;
}

#hero4 h1 {
    line-height: 13vh;
}

.hero h2,
.hero h3 {
    font-family: "plain light";
    font-size: 7.2vw;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.3vw;
    line-height: 14vh;
}

.hero h2 {
    border-bottom: 0.59vw solid #fff;
    margin-right: 0.9vw;
    padding-bottom: 0.4vh;
}

.hero h2:hover {
    -webkit-text-stroke: 0.1vw #fff;
    color: transparent;
    font-weight: 500;
    border-bottom: 0.59vw solid #151515;
}

.hero h3 {
    font-size: 7vw;
    margin-bottom: 0.8vh;
}

#nav-note {
    /* background-color: aqua; */
    height: fit-content;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding-top: 2.7vw;
}

.nnote h5 {
    font-size: 0.99vw;
    line-height: 2.05vh;
    font-family: "Plain light";
    font-weight: 550;
    margin: 0;
}

.scroll {
    display: flex;
    align-items: center;
    padding: 0.5vh 2.5vw;
    justify-content: center;
    position: absolute;
    left: 2.6vw;
    bottom: 12vh;
    overflow: hidden;
}

.scroll h5 {
    font-size: 1vw;
    color: #615c5c;
    font-family: "Plain light";
    font-weight: 600;
}

#page2 {
    height: 100vh;
    width: 100vw;
    background-color: #151515;
    position: relative;

}

#video {
    height: 67vh;
    width: 72.4vw;
    position: absolute;
    left: 27.58%;
    bottom: 35.3%;
    background-image: url(&quot;https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg&quot;);
}

#video img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
}

#video video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-crsr {
    background-color: #FFA63D;
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    position: absolute;
    top: -16%;
    left: 68.7%;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}

#video-crsr i {
    font-size: 2vw;
}

#page4 {
    height: 226vh;
    width: 100%;
    background-color: #151515;

}

#page4 #content3 {
    height: 27.5vh;
    width: 67.2vw;
    left: 27.6%;
    position: relative;
    border-bottom: 0.15vw solid #837d7d;
}

#content3 h1 {
    font-family: plain light;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 7.1vw;
    letter-spacing: 0.2vw;
    word-spacing: -0.6vw;
    margin-left: 0.2vw;
}

#page4 #counting1 {
    height: 5vw;
    width: 5vw;
    position: absolute;
    left: 18.5%;
    overflow: hidden;
}

#counting1 h2 {
    font-family: silk serif;
    font-size: 3.3vw;
}

#page4 #text1 {
    height: 39vh;
    width: 36vw;
    left: 27.6%;
    top: 4.5%;
    position: relative;
}

#text1 h3 {
    font-family: plain light;
    font-size: 2.325vw;

    word-spacing: -0.13vw;
    line-height: 5.3vh;
}

#img2 {
    height: 80.1vh;
    width: 32.7vw;
    top: 7.3%;
    left: 27.5%;
    position: relative;
    overflow: hidden;
    z-index: 999;
}

#img2 img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    transform: scale(1.078);
}

#text2 {
    height: 30vh;
    width: 19vw;
    left: 62.5%;
    top: 36.3%;
    position: absolute;
}

#text2 h4 {
    font-family: plain light;
    font-size: 0.97vw;
    font-weight: 500;
    line-height: 3vh;
}

#bluebox {
    height: 84.35vh;
    width: 32.8vw;
    background-color: #3F7DF4;
    position: relative;
    z-index: 9999;
    bottom: 3.97%;
    left: 50.6%;
    padding: 3vw;
    padding-left: 3.5vw;
}

.btext {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.2vw 0.3vw;
    border-bottom: 0.15vw solid #c1c1c1;

}

.btext h2 {
    font-family: plain light;
    font-size: 1.6vw;
}

.btext h3 {
    width: 40%;
    font-family: plain light;
    font-size: 1vw;
}